body{
    width: 810px;
    margin: 0 auto;
    font-size: 12px;
    font-family: Arial,宋体,Helvetica,Sans Serif;
}

#wrapper{
    width: 810px;
    height:auto;
    overflow: hidden;
}
a:link, a:visited {
    color: #1B57B1;
    text-decoration: none;
}
a:hover{
    color: orange;
    text-decoration: underline;
}